[package]
name = "hex-buffer-serde"
version = "0.2.0"
edition = "2018"
authors = ["Alex Ostrovski <ostrovski.alex@gmail.com>"]
readme = "README.md"
license = "Apache-2.0"
keywords = ["serde", "hex", "encoding", "bytes"]
categories = ["encoding", "parsing"]
description = "Helper for serializing byte buffers as hex strings in `serde`"
repository = "https://github.com/slowli/hex-buffer-serde"
documentation = "https://docs.rs/hex-buffer-serde/"

[badges]
travis-ci = { repository = "slowli/hex-buffer-serde" }

[dependencies]
serde = "1.0"
hex = "0.3.2"

[dev-dependencies]
serde_derive = "1.0"
serde_json = "1.0"
serde_cbor = "0.9.0"
bincode = "1.0"
rand = "0.6.5"
ed25519 = { version = "=1.0.0-pre.1", package = "ed25519-dalek", features = ["serde"] }
