[package]
name = "hex-buffer-serde"
version = "0.2.1"
edition = "2018"
authors = ["Alex Ostrovski <ostrovski.alex@gmail.com>"]
readme = "README.md"
license = "Apache-2.0"
keywords = ["serde", "hex", "encoding", "bytes"]
categories = ["encoding", "parsing", "no-std"]
description = "Helper for serializing byte buffers as hex strings in `serde`"
repository = "https://github.com/slowli/hex-buffer-serde"
documentation = "https://docs.rs/hex-buffer-serde/"

[dependencies]
# Public dependencies (present in the public API).
serde = { version = "1.0", default-features = false }

# Private dependencies (not exposed in the public API).
hex = { version = "0.4", default-features = false }

[dev-dependencies]
serde_derive = "1.0"
serde_json = "1.0"
serde_cbor = "0.11.1"
bincode = "1.2.1"
rand = "0.7.3"
ed25519 = { version = "=1.0.0-pre.3", package = "ed25519-dalek", features = ["serde"] }

[features]
default = ["std"]
std = ["serde/std", "hex/std"]
